:root {
  --background-color: #e4e4e4;
  --text-color: #003366;
  --text-sub-color: #006699;
  --light-text-color: #e4e4e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

section {
  display: flex;
  margin: 20px 40px;
  color: var(--text-color);
}

section h3 {
  padding: 0 15px;
  border-right: solid 4px var(--text-color);
  text-align: end;
  min-width: 25%;
  font-size: 35px;
  /* color: var(--text-color); */
}

#header {
  padding: 15px 5px 15px 0;
  background-color: #222222;
  color: var(--light-text-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#header h1 {
  font-size: 250%;
  padding: 0 10px 0 30px;
  background-color: var(--text-sub-color);
  margin-right: 58%;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-size: 115%;
}

#nav a {
  color: var(--text-sub-color);
  text-decoration: none;
  text-align: center;
  margin: 2px 10px;
}

#nav a:hover {
  text-decoration: underline 3px;
}

/* Background Image */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#banner h2 {
  font-size: 160%;
  background-color: var(--text-sub-color);
  position: absolute;
  align-self: flex-end;
  margin: 10px;
  color: var(--light-text-color);
}

#me {
  position: absolute;
  width: 12%;
  height: auto;
  align-self: flex-end;
  margin: 44px 10px;
  border-radius: 20px;
}

/* Paragraph of Sections */
.section-paragraphs {
  padding-left: 30px;
}

/* Developers Apps Content Container */
#work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 75%;
  padding-left: 20px;
}

/* Developers Apps Content */
.work-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex: 1 0 275px;
  margin: 4px;
  border: 4px solid #003366;
}

.work-item-text {
  font-size: 125%;
  color: var(--light-text-color);
  background-color: var(--text-sub-color);
  position: absolute;
  margin-bottom: 30px;
  width: 300px;
}

.work-item p {
  font-size: 75%;
  margin-left: 10px;
}

.work-item:first-child {
  min-width: 100%;
  height: auto;
}

#first-work-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.work-images {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* Contact Info Section */
#contact-me-info {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  align-items: center;
}

#contact-me-info a {
  text-decoration: none;
  color: var(--text-color);
  margin: 20px;
}

/* Resume Section */
.resume a {
  text-decoration: none;
  color: var(--text-color);
  padding-left: 30px;
}

.resume-download {
  position: relative;
  cursor: pointer;
}

/* Tablet Styles  */
@media screen and (min-width: 768px) {
  #header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  #header h1 {
    margin: 0px;
  }

  #nav {
    flex-direction: row;
  }
}

/* Desktop Styles  */
@media screen and (min-width: 1100px) {
  #header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  #header h1 {
    margin: 0px;
  }

  #nav {
    flex-direction: row;
  }
}

/* Extra Large Styles  */
@media screen and (min-width: 1440px) {
  #header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  #header h1 {
    margin: 0;
  }

  #nav {
    flex-direction: row;
  }
}
